::ng-deep .mat-select-panel {
  background-color: transparent !important;
  backdrop-filter: blur(10px); /* Optional: adds a blur effect */
}

::ng-deep .mat-select-trigger {
  background: transparent !important;
}

.team-select {
  width: 200px;
  margin-bottom: 20px;
}

.employee-list {
  flex: 1;
  width: 100%;
}

.full-width {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.skills-list {
  list-style-type: disc;
  padding-left: 20px;
}

.skills-list li {
  line-height: 1.5;
}

.mat-header-cell,
.mat-cell {
  flex: 1;
}

.table-responsive {
  overflow-x: auto;
}

@media (max-width: 600px) {
  th.mat-header-cell, td.mat-cell {
    padding: 4px 8px;
    font-size: 12px;
  }

  th.mat-header-cell {
    white-space: nowrap;
  }

  .wide-column {
    min-width: 150px;
  }

  .narrow-column {
    min-width: 100px;
  }

  .skills-list {
    padding-left: 20px;
    margin: 0;
  }
}



