<div class="row">
  <div class="col-lg-8 col-sm-12">
    <app-teams></app-teams>
  </div>
  <div class="col-lg-4 col-sm-12">
    <app-top-employees></app-top-employees>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-sm-12">
    <app-add></app-add>
  </div>
  <div class="col-lg-8 col-sm-12">
    <app-employees></app-employees>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-sm-12">
    <app-courses-timeline></app-courses-timeline>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-sm-12">
    <app-skills-in-development></app-skills-in-development>
  </div>
  <div class="col-lg-4 col-sm-12">
    <app-top-skills></app-top-skills>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-sm-12">
    <app-activity-hours></app-activity-hours>
  </div>
</div>
