<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-lg-8 col-sm-12">
    <app-skills-in-development></app-skills-in-development>
  </div>
  <!-- column -->
  <!-- column -->
  <div class="col-lg-4 col-sm-12">
    <app-top-skills></app-top-skills>
  </div>
  <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div class="row">
  <!-- Card column -->
  <div class="col-lg-3 col-sm-12">
    <app-profile></app-profile>
    <app-contacts></app-contacts>
  </div>
  <!-- Card column -->
  <!-- Card column -->
  <div class="col-lg-9 col-sm-12">
    <app-activity-timeline></app-activity-timeline>
  </div>
</div>
